<!DOCTYPE html>
<html lang="en">

{% include "patrials/head.html" %}



<body>
    {% include "patrials/navbar.html" %}

    <main>
        <h1>Welcome to dBlog</h1>
        <section>
            <h2>Latest Posts</h2>
            <hr />
            <section>
                {% for article in blog.all %}
                <article>
                    <a href="{% url 'article' article.id %}">
                        {{article.title}}
                    </a>
                    <div>

                        <p>{{article.categories}}</p>
                        <p>{{article.pub_date_pretty}}</p>
                        {% if article.image %}
                        <div class="img-thumbnail">
                            <img src="{{ article.image.url }}" width="250" alt="article image">
                        </div>
                        {% else %}
                        <div class="img-thumbnail">
                            <img src="{{ article.image_url }}" width="250" alt="article image">
                        </div>
                        {% endif %}
                        <p>{{article.summary|safe}}</p>
                    </div>
                </article>
                {% endfor %}
            </section>
        </section>
    </main>
</body>

</html>